<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SqlConnection" connectionString="Data Source=127.0.0.1;Initial Catalog=Simple;User Id=sa;Password=sa;" />
    <add name="SQLiteConnection" connectionString="Simple.db"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>